* {
  font-family: 'Arial';
}

body {
  text-align: center;
}

#play-button {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.1rem;
  border: none;
  cursor: pointer;
}

#board {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  text-align: justify;
  margin: auto;
  margin-bottom: 1rem;
}

.score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  margin: auto;
}

.square {
  border: dotted;
  border-color: blue;
  width: 4rem;
  padding: 4rem;
  background-color: rgba(173, 216, 230, 0.5);
  transition: all 150ms ease-in-out;
}

.square#r {
  --opacity: 0.6;
  background-color: rgba(255, 0, 0, var(--opacity));
}

.square#y {
  --opacity: 0.6;
  background-color: rgba(0, 0, 255, var(--opacity));
}

.square#c {
  --opacity: 0.6;
  background-color: rgba(0, 128, 0, var(--opacity));
}

.square#k {
  --opacity: 0.6;
  background-color: rgb(255, 210, 0, var(--opacity));
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  margin: auto;
  padding-bottom: 0.5rem;
}
